@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@400;700&display=swap');

:root {
    --back : #F9DEC9;
    --box : #99B2DD;
    --shadow : #3A405A;
}

* {
    box-sizing: border-box ;
}

body {
    background-color: var(--back);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
}

.box {
    color: white;
    background-color: var(--box);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgb(60, 66, 92,0.3) ;
    transform: translateX(1000%);
    transition: transform 0.4s ease;
    
}

.box:nth-of-type(even) {
    transform: translateX(-1000%);

}

.box.show {
      transform: translateX(0);
      
}
